/*
font-family: 'Titillium Web', sans-serif;
font-family: 'Economica', sans-serif;
font-family: 'Source Code Pro', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Marvel', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Antic', sans-serif;
font-family: 'Lekton', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Basic', sans-serif;
font-family: 'Advent Pro', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Bubbler One', sans-serif;
font-family: 'Nobile', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Belleza', sans-serif;
*/

body {
   /*font-family: 'RobotoRegular', Arial, sans-serif;*/
   /*
font-family: 'Titillium Web', sans-serif;
font-family: 'Economica', sans-serif;
font-family: 'Source Code Pro', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Marvel', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Antic', sans-serif;
font-family: 'Lekton', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Basic', sans-serif;
font-family: 'Advent Pro', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Bubbler One', sans-serif;

*/
    font-family: 'Quicksand', 
    sans-serif;
   }
   
   /*
   
body
font-family: 'Belleza', sans-serif;
font-family: 'Basic', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Antic', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Titillium Web', sans-serif;

title
font-family: 'Jura', sans-serif;
font-family: 'Bubbler One', sans-serif;

Notes/handwritten/commentary
font-family: 'Josefin Sans', sans-serif;
   
   */