*           {background-color:#050505; color:#DDD; }

li          { z-index:50;}  
svg         { z-index:10;}
h1          { padding-left:10px;}

.ui-menu-item>ul    {left:80px !important; border:2px gray solid; z-index:200; position:fixed;}
.ui-menu-item ul li {padding:3px;}

/*Global Nav*/
#globalnav li  { font-size:1.2em; float:left; list-style-type:none; padding-left:15px;} /* TODO: [e] [mobile] On mobile layout, no 'float:left;' */

/*Primary Nav */
#nav            { padding-top:10px;}
#nav li         { list-style-type:none; }
.primarynavicon { color:cyan; } /* #HACK: Not blue or cyan, get html color.... */
.notlink, .notlink:hover, .notlink:focus, .notlink:active       { text-decoration:none;} /* Removes underline from <a> without href attributes where browser does not recognise link-less anchor */
.strategic      { color:red; }
.tactical       { color:orange; }
.operational    { color:green; }
/*Common to Nav */


#mainwrapper {padding:2px;}

#statusbar {background-color:gray; color:black;} /* monos[ace */

/* Alerts (most handled by Bootstrap, these fix backgrounds) */
.info-text      {color:rgb(58, 135, 173);}
.info-bg        {background-color:rgb(217, 237, 247);}
.error-text     {color:rgb(205, 54, 52);}
.error-bg       {background-color:rgb(242, 222, 222);}
.success-text   {color:rgb(70, 136, 71);}
.success-bg     {background-color:rgb(223, 240, 216);}
.alert-text     {color:rgb(185, 74, 72);}
.alert-bg       {background-color:rgb(252, 248, 227);}

/* Ratings */
.icon-star  {cursor: pointer;}
.star1 , .star2, .star3, .star4, .star5 {} 
.startrue {color:yellow;}
.starfalse{color:none !important;}

/* Font Toggles */
table.fonttable {border:solid 1px red; width:100%;}
.roboto       {font-family:Roboto;}
.quicksand    {font-family:Quicksand;}
.arial        {font-family:Arial;}
.georgia      {font-family:Georgia;}
.verdana      {font-family:Verdana;}
.helvetica    {font-family:Helvetica;}
.courier      {font-family:Courier;}

.serif        {font-family:Serif;}
.sansserif    {font-family:Sans-Serif;}
.monospace    {font-family:Monospace;}