*             {font-size:0.9em; line-height:0.8em;}
body          {}

#essentials   {border: solid gray 1px;}


.source       {font-size:1.1em;}
              
.Bug          {color:red;}
.Critical     {color:red;}
.Essential    {color:black;}
.Desirable    {color:#333;}
.Idealistic   {color:#666;}
.Hack   {color:#666;}